<div class="profile-section">
    <div class="profile-header">
      <div class="profile-picture">
        <% if current_user.profile_photo.attached? %>
            <%= image_tag(current_user.profile_photo.variant(resize_to_limit: [100, 100]).processed, class: "profile-image") %>
          <% else %>
            <%= image_tag("profile.png", class: "profile-pic") %>
        <% end %>
      </div>
      <div class="profile-details">
        <div class="profile-name-email">
          <h2 class="profile-name"><%= "#{@user.first_name} #{@user.last_name}" %></h2>
          <p class="profile-email"><%= @user.email %></p>
        </div>
        <div class="profile-actions">
          <%= link_to edit_user_registration_path, class: 'btn' do %>
            <%= image_tag "editing.png", class: "profile-icon" %>
          <% end %>
          <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn' do %>
            <%= image_tag "log-out.png", class: "profile-icon" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-buttons">
    <button id="btn-products" class="tab-btn active">Products</button>
  </div>

  <div id="products" class="tab-content active">
    <div class="products-grid">
      <% @products.each do |product| %>
        <%= link_to product_path(product), class: 'product-link' do %>
          <div class="product-card">
            <%= image_tag(product.image, class: 'product-image') if product.image.attached? %>
            <div class="product-info">
              <span class="price">€<%= product.price_per_day.to_i == product.price_per_day ? product.price_per_day.to_i : product.price_per_day %></span>
              <p class="title"><%= product.title %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
