<div class="profile-section">
    <div class="profile-header">
      <div class="profile-picture">
        <% if current_user.profile_photo.attached? %>
            <%= image_tag(current_user.profile_photo.variant(resize_to_limit: [100, 100]).processed, class: "profile-image") %>
          <% else %>
            <%= image_tag("profile.png", class: "profile-pic") %>
        <% end %>
      </div>
      <div class="profile-details">
        <div class="profile-name-email">
          <h2 class="profile-name"><%= "#{@user.first_name} #{@user.last_name}" %></h2>

          <div class="reviews">
            <%= link_to index_reviews_path, id: "btn-products", class: "tab-btn active" do %>dar
              <span class="stars">★★★★★</span>
              <span class="rating-stars">(4)</span>
            <% end %>
          </div>

        </div>
        <div class="profile-actions">
          <%= link_to edit_user_registration_path, class: 'btn' do %>
            <%= image_tag "editing.png", class: "profile-icon", style: "width: 25px; height: 25px; margin: 0;"%>
          <% end %>
          <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn' do %>
            <%= image_tag "log-out.png", class: "profile-icon", style: "width: 25px; height: 25px; margin: 0;" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="tab-content" id="productsTab">

  </div>

      <div class="tab-buttons">
      <%= link_to profile_path(current_user), id: "btn-products", class: "tab-btn active" do %>
        Products
      <% end %>
    </div>

  <div id="products" class="tab-content active">
    <div class="products-grid">
      <% @products.each do |product| %>
        <%= link_to product_path(product), class: 'product-link' do %>
          <div class="product-card">
            <%= image_tag(product.image, class: 'product-image') if product.image.attached? %>
            <div class="product-info">
              <span class="price">€<%= product.price_per_day.to_i == product.price_per_day ? product.price_per_day.to_i : product.price_per_day %></span>
              <p class="title"><%= product.title %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

 <% @reviews.each do |review| %>
  <% unless review.booking.user == current_user %>
  <h3>Product rating</h3>
  <h5>Rating</h5>
  <%= review.product_rating %>
  <h5>Content</h5>
  <%= review.product_content %>
  <% end %>
  <h3>Booking Rating</h3>
   <h5>Rating</h5>
  <%= review.booking_rating %>
  <h5>Content</h5>
  <%= review.booking_content %>
  <% end %>
