<aside class="sidebar">
  <div class="sidebar-settings-profile">
    <div class="sidebar-profile">
      <%= link_to profile_path(current_user) do %>
        <div class="user-info-with-pic">
          <% if current_user.profile_photo.attached? %>
            <%= image_tag(current_user.profile_photo.variant(resize_to_limit: [100, 100]).processed, class: "profile-pic") %>
          <% else %>
            <%= image_tag("profile.png", class: "profile-pic") %>
          <% end %>
          <div class="user-info">
            <p class="name"><strong><%= current_user.first_name %> <%= current_user.last_name.first %>.</strong></p>

          <span class="estrella" style="font-size: 10px; color: #007883;">
            <% filled_stars = (@user.average_rating || 0).to_i %>
            <% half_star = (@user.average_rating || 0) - filled_stars %>
            <% empty_stars = 5 - filled_stars - (half_star.positive? ? 1 : 0) %>

            <% filled_stars.times do %>
              <i class="fa-solid fa-star"></i>
            <% end %>

            <% if half_star.positive? %>
              <i class="fa-solid fa-star-half-stroke"></i>
            <% end %>

            <% empty_stars.times do %>
              <i class="fa-regular fa-star"></i>
            <% end %>
          </span>
          <span class="rating-stars" style="font-size: 12px; color: rgb(93, 93, 93);">( <%= (@user.all_received_reviews.count || 0) %> )</span>


          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= link_to lends_bookings_path(@product), class: "sidebar-settings d-flex align-items-center #{'active' if current_page?(lends_bookings_path(@product))}" do %>
    <div class="icon-margin">
      <%= image_tag "borrowing.png", class: "nav-icon-lend" %>
    </div>
    <span class="sidebar-category">Lends</span>
  <% end %>

  <%= link_to borrows_bookings_path(@product), class: "sidebar-settings d-flex align-items-center #{'active' if current_page?(borrows_bookings_path(@product))}" do %>
    <div class="icon-margin">
      <%= image_tag "borrowing.png", class: "nav-icon-lend" %>
    </div>
    <span class="sidebar-category">Borrows</span>
  <% end %>

  <%= link_to chats_path(current_user), class: "sidebar-settings d-flex align-items-center" do %>
    <div class="icon-margin">
      <%= image_tag "speech-bubble.png", class: "nav-icon" %>
    </div>
    <span class="sidebar-category">Messages</span>
  <% end %>

  <%= link_to profile_path(current_user), class: "sidebar-settings d-flex align-items-center #{'active' if current_page?(profile_path(current_user))}" do %>
    <div class="icon-margin">
      <%= image_tag "product.png", class: "nav-icon-product" %>
    </div>
    <span class="sidebar-category">Products</span>
  <% end %>

  <%= link_to profile_favorites_path(current_user), class: "sidebar-settings d-flex align-items-center #{'active' if current_page?(profile_favorites_path(current_user))}" do %>
    <div class="icon-margin">
      <%= image_tag "passion.png", class: "nav-icon" %>
    </div>
    <span class="sidebar-category">Favorites</span>
  <% end %>

  <%= link_to index_faq_path(current_user), class: "sidebar-settings d-flex align-items-center #{'active' if request.path == '#'}" do %>
    <div class="icon-margin">
      <%= image_tag "question.png", class: "nav-icon" %>
    </div>
    <span class="sidebar-category">Help</span>
  <% end %>

</aside>
