<% if current_user != @user %>
  <div class="profile-section">
    <div class="profile-header">
      <div class="profile-picture">
        <%= image_tag("joseluis.svg.png", class: "profile-image") %>
      </div>
      <div class="profile-details">
        <div class="profile-name-email">
          <h2 class="profile-name"><%= "#{@user.first_name} #{@user.last_name}" %></h2>
          <p class="rating">
            <span class="stars">★★★★★</span>
            <span class="rating-stars">(7)</span>
          </p>
        </div>
      </div>
    </div>

    <div class="tab-buttons">
      <button id="btn-products" class="tab-btn active">Products</button>
    </div>

    <div id="products" class="tab-content active">
      <div class="products-grid">
        <% @products.each do |product| %>
          <%= link_to product_path(product), class: 'product-link' do %>
            <div class="product-card">
              <%= image_tag(product.image, class: 'product-image') if product.image.attached? %>
              <div class="product-info">
                <span class="price">€<%= product.price_per_day.to_i == product.price_per_day ? product.price_per_day.to_i : product.price_per_day %></span>
                <p class="title"><%= product.title %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div id="rents" class="tab-content">
      <div class="products-grid">
        <% @booked_products.each do |product| %>
          <%= link_to product_path(product), class: 'product-link' do %>
            <div class="product-card">
              <%= image_tag(product.image, class: 'product-image') if product.image.attached? %>
              <div class="product-info">
                <span class="price">€<%= product.price_per_day.to_i == product.price_per_day ? product.price_per_day.to_i : product.price_per_day %></span>
                <p class="title"><%= product.title %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
    <%= render 'profile' %>
<% end %>
