<% if current_user != @user %>

<div class="profile-section">
  <div class="profile-header">
    <div class="profile-picture">
      <% if @user.profile_photo.attached? %>
          <%= image_tag(@user.profile_photo.variant(resize_to_limit: [100, 100]).processed,class:"profile-image") %>
          <% else %>
            <%= image_tag("profile.png", class: "profile-image") %>
        <% end %>
    </div>

    <div class="profile-details">
        <div class="profile-name-email">
          <h2 class="profile-name"><%= "#{@user.first_name} #{@user.last_name}" %></h2>

            <div class="tabs">
              <button class="tab star-tab" id="tab-star-tab" onclick="toggleTab('reviews')">
                <span class="stars" style="color: #007883">
                  <% filled_stars = (@user.average_rating || 0).to_i %>
                  <% half_star = (@user.average_rating || 0) - filled_stars %>
                  <% empty_stars = 5 - filled_stars - (half_star.positive? ? 1 : 0) %>

                  <% filled_stars.times do %>
                    <i class="fa-solid fa-star"></i>
                  <% end %>

                  <% if half_star.positive? %>
                    <i class="fa-solid fa-star-half-stroke"></i>
                  <% end %>

                  <% empty_stars.times do %>
                    <i class="fa-regular fa-star"></i>
                  <% end %>
                </span>
                <span class="rating-stars" style= "color: rgb(93, 93, 93)";>( <%= (@user.all_received_reviews.count  || 0) %> )</span>
              </button>
            </div>

        </div>
      </div>
    </div>



     <div class="tabs" style="margin-bottom: 30px; margin-top: 30px; margin-left: -1px;">
  <button class="tab" onclick="toggleTab('products')">Products</button>
  <button class="tab" onclick="toggleTab('reviews')">Reviews</button>
  </div>

  <div class="tab-content" id="productsTab">
    <div class="products-grid">
      <% @products.each do |product| %>
         <%= link_to product_path(product), class: 'product-link' do %>
          <div class="product-card">
            <%= image_tag(product.image, class: 'product-image') if product.image.attached? %>
            <div class="product-info" style="background-color: white;">
              <div class="title-price-row">
                <span class="title" style="background-color: transparent;"><%= product.title %></span>
                <span class="price">
                  <%= number_with_precision(product.price_per_day, precision: (product.price_per_day.to_i == product.price_per_day) ? 0 : 2) %>€
                </span>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

</div>
 </div>

<div class="tab-content" id="reviewsTab">
<div class="reviews-container">
    <% @reviews.each do |review| %>
      <li class="review-card" style="margin-top: 10px; margin-bottom: 30px;">
        <% if review.booking.present? && review.booking.product.present? %>
          <%= link_to product_path(review.booking.product) do %>
            <div class="card-content" style="background-color: #f4f4f4;">
              <div class="image-container">
                <%= image_tag(review.booking.product.image.url, class: "card-image") if review.booking.product.image.attached? %>
              </div>
              <div class="card-details">
                <h3 class="card-title"><%= review.booking.product.title %></h3>
                <div class="review-details">
                  <div class="rating">
                    <span class="stars" style="color: #007883;">
                      <% filled_stars = (review.booking_rating || 0).to_i %>
                      <% half_star = (review.booking_rating || 0) - filled_stars %>
                      <% empty_stars = 5 - filled_stars - (half_star.positive? ? 1 : 0) %>

                      <% filled_stars.times do %>
                        <i class="fa-solid fa-star"></i>
                      <% end %>

                      <% if half_star.positive? %>
                        <i class="fa-solid fa-star-half-stroke"></i>
                      <% end %>

                      <% empty_stars.times do %>
                        <i class="fa-regular fa-star"></i>
                      <% end %>
                    </span>
                  </div>
                  <p class="content"><%= review.booking_content %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>No booking product information available</p>
        <% end %>
      </li>
    <% end %>
  </div>
</div>



  <script>
  function toggleTab(tabName) {
    document.querySelectorAll('.tab-content').forEach(tab => {
      tab.style.display = 'none';
    });

    document.querySelectorAll('.tab').forEach(tab => {
      tab.classList.remove('active');
    });

    document.getElementById(`${tabName}Tab`).style.display = 'block';
    document.querySelector(`.tab.${tabName}`).classList.add('active');
  }

  toggleTab('products');
</script>
<% else %>
  <%= render 'profile' %>
<% end %>

<script>
  // Timeout for notice alert
  var noticeAlert = document.getElementById('notice-alert');
  if (noticeAlert) {
    setTimeout(function() {
      noticeAlert.style.display = 'none';
    }, 3000);
  }

  // Timeout for alert alert
  var alertAlert = document.getElementById('alert-alert');
  if (alertAlert) {
    setTimeout(function() {
      alertAlert.style.display = 'none';
    }, 3000);
  }
</script>
