<% if current_user != @user %>

<div class="profile-section">
  <div class="profile-header">
    <div class="profile-picture">
      <% if @user.profile_photo.attached? %>
        <%= image_tag(@user.profile_photo.variant(resize_to_limit: [100, 100])) %>
      <% else %>
        <%= image_tag("profile.png", class: "profile-image") %>
      <% end %>
    </div>

    <div class="profile-details">
        <div class="profile-name-email">
          <h2 class="profile-name"><%= "#{@user.first_name} #{@user.last_name}" %></h2>

            <div class="tabs">
              <button class="tab star-tab" id=" tab star-tab"onclick="toggleTab('reviews')"> <span class="stars" style="color: #007883">★★★★★</span> <span class="rating-stars">(4)</span>
              </button>
            </div>

        </div>
      </div>
    </div>



     <div class="tabs">
  <button class="tab" onclick="toggleTab('products')">Products</button>
  <button class="tab" onclick="toggleTab('reviews')">Reviews</button>
  </div>

  <div class="tab-content" id="productsTab">
    <div class="products-grid">
      <% @products.each do |product| %>
        <%= link_to product_path(product), class: 'product-link' do %>
          <div class="product-card">
            <%= image_tag(product.image, class: 'product-image') if product.image.attached? %>
            <div class="product-info">
              <span class="price">€<%= product.price_per_day.to_i == product.price_per_day ? product.price_per_day.to_i : product.price_per_day %></span>
              <p class="title"><%= product.title %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>


  <div id="rents" class="tab-content">
    <div class="products-grid">
      <% @booked_products.each do |product| %>
        <%= link_to product_path(product), class: 'product-link' do %>
          <div class="product-card">
            <%= image_tag(product.image, class: 'product-image') if product.image.attached? %>
            <div class="product-info">
              <span class="price">€<%= product.price_per_day.to_i == product.price_per_day ? product.price_per_day.to_i : product.price_per_day %></span>
              <p class="title"><%= product.title %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
 </div>

   <div class="tab-content" id="reviewsTab">
    <div class="reviews-container">
  <h2>Average Booking Rating: <%= @average_booking_rating %></h2>

  <% @reviews.each do |review| %>
    <% unless review.booking.user == current_user %>
      <!-- Display product rating and content -->
      <h3>Product rating</h3>
      <h5>Rating</h5>
      <%= review.product_rating %>
      <h5>Content</h5>
      <%= review.product_content %>
    <% end %>

    <!-- Display booking rating and content -->
    <h3>Booking Rating</h3>
    <h5>Rating</h5>
    <%= review.booking_rating %>
    <h5>Content</h5>
    <%= review.booking_content %>
  <% end %>
</div>
</div>

  <script>
  function toggleTab(tabName) {
    document.querySelectorAll('.tab-content').forEach(tab => {
      tab.style.display = 'none';
    });

    document.querySelectorAll('.tab').forEach(tab => {
      tab.classList.remove('active');
    });

    document.getElementById(`${tabName}Tab`).style.display = 'block';
    document.querySelector(`.tab.${tabName}`).classList.add('active');
  }

  toggleTab('products');
</script>
<% else %>
  <%= render 'profile' %>
<% end %>
