<div class="product-show-container">
  <h1>Borrow Requests</h1>

  <h2>Pending Borrows</h2>
  <% @pending_borrow_requests.each do |booking| %>
    <div class="booking-item">
      <p>Product: <%= link_to booking.product.title, product_path(booking.product) %></p>
      <p>Status: <%= booking.status.capitalize %></p>
      <p>Start Date: <%= booking.start_date %></p>
      <p>End Date: <%= booking.end_date %></p>
      <%= button_to 'Cancel Request', cancel_booking_path(booking), method: :delete, data: { confirm: 'Are you sure you want to cancel this booking request?' }, class: 'btn btn-outline-warning' %>
    </div>
  <% end %>

  <h2>Accepted Borrows</h2>
  <% @accepted_borrow_requests.each do |booking| %>
    <div class="booking-item">
      <p>Product: <%= link_to booking.product.title, product_path(booking.product) %></p>
      <p>Status: <%= booking.status.capitalize %></p>
      <p>Start Date: <%= booking.start_date %></p>
      <p>End Date: <%= booking.end_date %></p>
      <%= link_to 'View Details', booking_path(booking) %>
    </div>
  <% end %>

  <h2>Ongoing Borrows</h2>
  <% @ongoing_borrow_requests.each do |booking| %>
    <div class="booking-item">
      <p>Product: <%= link_to booking.product.title, product_path(booking.product) %></p>
      <p>Status: <%= booking.status.capitalize %></p>
      <p>Start Date: <%= booking.start_date %></p>
      <p>End Date: <%= booking.end_date %></p>
      <%= link_to 'View Details', booking_path(booking) %>
    </div>
  <% end %>

  <h2>Finished Requests</h2>
  <% @finished_borrow_requests.each do |booking| %>
    <div class="booking-item">
      <p>Product: <%= link_to booking.product.title, product_path(booking.product) %></p>
      <p>Status: <%= booking.status.capitalize %></p>
      <p>Start Date: <%= booking.start_date %></p>
      <p>End Date: <%= booking.end_date %></p>
      <%= link_to 'View Details', booking_path(booking) %>
    </div>
  <% end %>
</div>
