<div class="product-show-container">
  <h1>Booking Details</h1>

  <p><strong>Status:</strong> <%= @booking.status.capitalize %></p>
  <p><strong>Start Date:</strong> <%= @booking.start_date %></p>
  <p><strong>End Date:</strong> <%= @booking.end_date %></p>

  <% if @booking.status == "accepted" %>
    <p><strong>Product:</strong> <%= link_to @booking.product.title, product_path(@booking.product) %></p>
    <p><strong>Accepted by:</strong> <%= @booking.product.user.first_name %> <%= @booking.product.user.last_name%></p>
  <% end %>

  <%= link_to 'Back to Bookings', borrows_bookings_path(@product), class: 'btn btn-secondary' %>

</div>
