<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "Lendit.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>

        <form action="<%= products_path %>" method="get" class="search-bar-container">
            <input type="text" class="form-control search-bar" placeholder="Search for items" name="search" style="font-family: Helvetica Neue">
        </form>

          <li class="nav-item active">
            <%= link_to "Upload Product", new_product_path, class: "nav-link btn-upload" %>
          <li class="nav-item active">
            <%= link_to profile_favorites_path(current_user), class: "nav-link d-flex align-items-center" do %>
              <%= image_tag "passion.png", class: "nav-icon me-2" %>
              <span>Favorites</span>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to chats_path(current_user), class: "nav-link d-flex align-items-center" do %>
            <%= image_tag "speech-bubble.png", class: "nav-icon-2 me-2" %>
            <span>Messages</span>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to profile_path(current_user), class: "nav-link" do %>
              <% if current_user.profile_photo.attached? %>
                <%= image_tag(current_user.profile_photo.variant(resize_to_limit: [100, 100]).processed, class: "avatar", alt: "User profile") %>
              <% else %>
                <%= image_tag("profile.png", class: "avatar") %>
              <% end %>
            <% end %>
          </li>

        <% else %>

         <form action="<%= products_path %>" method="get" class="search-bar-container">
            <input type="text" class="form-control search-bar" placeholder="Search for items" name="search" style="font-family: Helvetica Neue">
          </form>

          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="navbar navbar-expand-sm navbar-light navbar-tech-categories">
  <div class="container-fluid-2">
    <ul class="navbar-nav me-auto">
      <% Category.all.each do |category| %>
        <li class="nav-item">
          <%= link_to category.name, products_path(category_id: category.id), class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
