<section id="content" class="product-show-container">
  <div class="product-card">
    <div class="product-image-wrapper">
      <%= image_tag(@product.image, class: 'product-image') if @product.image.attached? %>
      <div class="floating-button">
        <div class="tabs">
        <button class="tab btn-floating" onclick="toggleTab('reviews')"> 4.2 <span class="star">★</span></button>
        </div>
      </div>
    </div>

    <div id="detailsTab" class="product-details">
      <div class="product-info">
        <div class="icons-row">
          <% if user_signed_in? && current_user != @product.user %>
            <% if @product.favorited_by_user?(current_user) && current_user != @product.user %>
              <%= link_to toggle_favorite_product_path(@product), method: :post, class: 'product-icon-filled' do %>
                <%= image_tag 'likeGOOD.png' %>
              <% end %>
            <% else %>
              <%= link_to toggle_favorite_product_path(@product), method: :post, class: 'product-icon' do %>
                <%= image_tag 'likeGOODnot.png' %>
              <% end %>
            <% end %>
          <% elsif !user_signed_in? %>
            <%= link_to new_user_session_path, id: "btn-products", class: "tab-btn active" do %>
              <%= image_tag 'likeGOODnot.png' %>
            <% end %>
          <% end %>
        </div>

        <h1 class="product-title"><%= @product.title %></h1>

        <div class="row-container">
          <div class="product-condition">
            <%= @product.condition %>
          </div>
          <div class="product-category">
            <%= @product.category.name %>
          </div>
          <%= image_tag('map3.png', id: 'map-trigger', class: "image-address") %>
        </div>

        <p class="product-description"><%= @product.description %></p>

        <div class="price-and-rating-row">
          <div class="price-container">
            <strong><span class="product-price"><%= number_to_currency(@product.price_per_day, unit: '', format: "%n€") %>/day</span></strong>
          </div>

          <%= link_to index_reviews_path, id: "btn-products", class: "tab-btn active" do %>
            <span class="stars">★★★★★</span>
            <span class="rating-stars">(4)</span>
          <% end %>

          <%= link_to profile_path(@product.user), class: "avatar-btn" do %>
            <% if current_user %>
              <% if current_user.profile_photo.attached? %>
                <%= image_tag(current_user.profile_photo.variant(resize_to_limit: [30, 30]).processed, class: "avatar", alt: "User profile") %>
              <% else %>
                <%= image_tag("profile.png", class: "avatar") %>
              <% end %>
            <% else %>
              <%= image_tag("profile.png", class: "avatar") %>
            <% end %>
          <% end %>
        </div>
        <div class="map-container"
          data-controller="map"
          data-map-markers-value="<%= [{ lat: @product.user.latitude, lng: @product.user.longitude }].to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

      <div class=under-container>
        <div class="product-buttons-container">
          <% if current_user == @product.user %>
            <div class="btn-edit">
              <%= link_to edit_product_path(@product), class: 'btn btn-outline-secondary' do %>
                Edit Product
              <% end %>
            </div>
            <div class="btn-delete">
              <%= link_to @product, data: { turbo_method: "delete", turbo_confirm: 'Are you sure you want to delete this product?'}, class: 'btn btn-outline-secondary', id: 'delete-product' do %>
                Delete Product
              <% end %>
            </div>
          <% else %>
            <%= render "book_product_form" %>
          <% end %>
        </div>
      </div>
    </div>







    <div id="reviewsTab" class="product-reviews d-none">
      <div class="grey-card">
    <!-- Add your content for the grey card here -->
    <h1 class="product-title">Reviews</h1>
    <p>This is the review content.</p>
  </div>
    </div>

  </div>
</section>

<script>
  function toggleTab() {

    document.getElementById(`reviewsTab`).classList.toggle('d-none');
    document.getElementById(`detailsTab`).classList.toggle('d-none');

  }
</script>
