<section id="content" class="product-show-container">
  <div class="product-card">
    <div class="product-image-wrapper">
      <%= image_tag(@product.image, class: 'product-image') if @product.image.attached? %>
      <div class="floating-button">

        <div class="tabs">
        <button class="tab btn-floating" onclick="toggleTab('reviews')">      <span class="rating-number" style="font-size: 22px;" style= "color: rgb(93, 93, 93)";> <%= (@reviews.average(:product_rating)&.round(1)  || 0) %></span>
        <span class="star"><i class="fa-solid fa-star"></i></span></button>
        </div>
      </div>

    </div>

    <div id="detailsTab" class="product-details">
      <div class="product-info">
        <div class="icons-row">
          <% if user_signed_in? && current_user != @product.user %>
            <% if @product.favorited_by_user?(current_user) && current_user != @product.user %>
              <%= link_to toggle_favorite_product_path(@product), method: :post, class: 'product-icon-filled' do %>
                <%= image_tag 'likeGOOD.png' %>
              <% end %>
            <% else %>
              <%= link_to toggle_favorite_product_path(@product), method: :post, class: 'product-icon' do %>
                <%= image_tag 'likeGOODnot.png' %>
              <% end %>
            <% end %>
          <% elsif !user_signed_in? %>
            <%= link_to new_user_session_path, id: "btn-products", class: "tab-btn active" do %>
              <%= image_tag 'likeGOODnot.png' %>
            <% end %>
          <% end %>
        </div>

        <h1 class="product-title"><%= @product.title %></h1>

        <div class="row-container">
          <div class="product-condition">
            <%= @product.condition %>
          </div>
          <div class="product-category">
            <%= @product.category.name %>
          </div>
          <%= image_tag('map3.png', id: 'map-trigger', class: "image-address") %>
        </div>

        <p class="product-description"><%= @product.description %></p>

        <div class="price-and-rating-row">
          <div class="price-container">
            <strong><span class="product-price"><%= number_to_currency(@product.price_per_day, unit: '', format: "%n€") %>/day</span></strong>
          </div>

           <span class="stars" style="color: #007883">
          <% filled_stars = (@product.user.average_rating || 0).to_i %>
          <% half_star = (@product.user.average_rating || 0) - filled_stars %>
          <% empty_stars = 5 - filled_stars - (half_star.positive? ? 1 : 0) %>

          <% filled_stars.times do %>
            <i class="fa-solid fa-star"></i>
          <% end %>

          <% if half_star.positive? %>
            <i class="fa-solid fa-star-half-stroke"></i>
          <% end %>

          <% empty_stars.times do %>
            <i class="fa-regular fa-star"></i>
          <% end %>
        </span>

        <span class="rating-stars" style= "color: rgb(93, 93, 93)">( <%= (@product.user.all_received_reviews.count  || 0) %> )</span>

          <%= link_to profile_path(@product.user), class: "avatar-btn" do %>
            <% if current_user %>
              <% if current_user.profile_photo.attached? %>
                <%= image_tag(current_user.profile_photo.variant(resize_to_limit: [30, 30]).processed, class: "avatar", alt: "User profile") %>
              <% else %>
                <%= image_tag("profile.png", class: "avatar") %>
              <% end %>
            <% else %>
              <%= image_tag("profile.png", class: "avatar") %>
            <% end %>
          <% end %>
        </div>
        <div class="map-container"
          data-controller="map"
          data-map-markers-value="<%= [{ lat: @product.user.latitude, lng: @product.user.longitude }].to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

      <div class=under-container>
        <div class="product-buttons-container">
          <% if current_user == @product.user %>
            <div class="btn-edit">
              <%= link_to edit_product_path(@product), class: 'btn btn-outline-secondary' do %>
                Edit Product
              <% end %>
            </div>
            <div class="btn-delete">
              <%= link_to @product, data: { turbo_method: "delete", turbo_confirm: 'Are you sure you want to delete this product?'}, class: 'btn btn-outline-secondary', id: 'delete-product' do %>
                Delete Product
              <% end %>
            </div>
          <% else %>
            <%= render "book_product_form" %>
          <% end %>
        </div>
      </div>
    </div>

    <div id="reviewsTab" class="product-reviews d-none">
      <div class="grey-card">
    <h1 class="product-title">Reviews</h1>

    <% @reviews.each do |review| %>
    <%= link_to profile_path(review.user) do %>
      <div class="review", style="margin-bottom:15px; border-radius:20px; border: 0.5px solid #01C1AD; background-color: white; padding-top: 10px; padding-left: 14px;">

        <p style="margin-left; 14px; margin-bottom: 5px;"><%= "#{review.user.first_name} #{review.user.last_name}" %></p>
          <span class="stars" style="color: #007883;">
            <% filled_stars = (review.product_rating || 0).to_i %>
            <% half_star = (review.product_rating || 0) - filled_stars %>
            <% empty_stars = 5 - filled_stars - (half_star.positive? ? 1 : 0) %>

            <% filled_stars.times do %>
              <i class="fa-solid fa-star"></i>
            <% end %>

            <% if half_star.positive? %>
              <i class="fa-solid fa-star-half-stroke"></i>
            <% end %>

            <% empty_stars.times do %>
              <i class="fa-regular fa-star"></i>
            <% end %>
          </span>
                  <p><strong><%= review.product_content %></strong></p>

        </div>
        <% end %>
      <% end %>
  </div>
    </div>

  </div>
</section>

<script>
  function toggleTab() {

    document.getElementById(`reviewsTab`).classList.toggle('d-none');
    document.getElementById(`detailsTab`).classList.toggle('d-none');

  }
</script>
