<section id="content" class="product-show-container">
  <div class="product-card">
    <div class="product-image-wrapper">
      <%= image_tag(@product.image, class: 'product-image') if @product.image.attached? %>
    </div>

    <div class="product-details">
      <div class="product-info">

        <% if user_signed_in? && current_user != @product.user %>
          <%= link_to @product.user.name_with_initial + '.', profile_path(@product.user), class: "btn btn-primary" %>
          <% if @product.favorited_by_user?(current_user) && current_user != @product.user%>
            <%= link_to toggle_favorite_product_path(@product), method: :post, class: 'product-icon-filled' do %>
              <%= image_tag 'like_filled.png' %>
            <% end %>

          <% else%>
            <%= link_to toggle_favorite_product_path(@product), method: :post, class: 'product-icon' do %>
              <%= image_tag 'like.png' %>
            <% end %>
          <% end %>
          <button class="btn-chat">Chat</button>
        <% elsif  !user_signed_in? %>     <%# #con solo else funciona? %>
          <div class="product-icon">
            <%= link_to new_user_session_path, method: :post do %>
              <%= image_tag 'like.png' %>
               <%= link_to new_user_session_path do %>
                 <button class="btn-chat">Chat</button>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <h1 class="product-title"><%= @product.title %></h1>
        <span class="product-condition"><%= @product.condition %></span>
        <span class="product-category"><%= @product.category.name %></span>
        <p class="product-description"><%= @product.description %></p>
        <strong><span class="product-price"><%= number_to_currency(@product.price_per_day, unit: '', format: "%n€") %>/day</span></strong>
      </div>

      <% if current_user == @product.user %>
        <div class="product-actions">
          <%= link_to edit_product_path(@product), class: 'btn btn-outline-secondary' do %>
            Edit Product
          <% end %>
          <%= link_to @product, data: { turbo_method: "delete", turbo_confirm: 'Are you sure you want to delete this product?'}, class: 'btn btn-outline-secondary', id: 'delete-product' do %>
            Delete Product
          <% end %>
        </div>
      <% else %>
        <%= render "book_product_form" %>
      <% end %>
        </div>
    </div>
  </div>
</section>
