<section id=container>

  <div class="form-container">

    <div class="info">
      <h1>Add Review for <%= @booking.product.title %></h1>

      <% if @booking.product.user == current_user %>
        <p>Review your experience with <%= @booking.user.full_name %></p>
      <% else %>
        <p>Review your experience with <%= @booking.product.user.full_name %></p>
      <% end %>
    </div>



      <%= form_with(model: [@booking, @review], url: booking_reviews_path(@booking), method: :post) do |form| %>
        <%= form.label :rating %>
        <%= form.number_field :rating, in: 1..5 %>

        <%= form.label :content %>
        <%= form.text_area :content %>

        <%= form.hidden_field :product_id, value: @booking.product.id %>

        <%= form.submit 'Submit Review' %>
      <% end %>
    </div>
</section>
