<section id=container>
  <div class="form-container">
    <div class="info">
        <h1>Add Review for <%= @booking.product.title %></h1>

          <%= simple_form_for [@booking, @review], url: booking_reviews_path(@booking), method: :post do |form| %>

            <% unless @booking.product.user == current_user %>
              <fieldset>
              <strong>  <h4><label class="form-label">Product Review</label></h4></strong>

              <div class="mb-3">
                <strong> <%= form.label :product_rating, 'Product Rating' %> </strong>
                <%= form.number_field :product_rating, in: 1..5 %>
              </div>

              <div class="mb-3">
                <strong> <%= form.label :product_content, 'Product Content' %> </strong>
                <%= form.text_area :product_content %>
              </div>

              <div class="mb-3">
                <%= form.hidden_field :booking_id, value: @booking.id %>
                <%= form.hidden_field :review_type, value: 'by_renter' %>
              </div>
              </fieldset>
            <% end %>

            <fieldset>

                <h4><label class="form-label">Booking Review</label></h4>

            <div class="mb-3">
              <strong> <%= form.label :booking_rating, 'Booking Rating' %> </strong>
              <%= form.number_field :booking_rating, in: 1..5 %>
            </div>

            <div class="mb-3">
              <strong> <%= form.label :booking_content, 'Booking Content' %> </strong>
              <%= form.text_area :booking_content %>
            </div>

            <div class="mb-3">
              <%= form.hidden_field :booking_id, value: @booking.id %>
              <%= form.hidden_field :review_type, value: 'by_owner' %>
            </div>
            </fieldset>
            <div class="upload-button">
              <%= form.submit 'Submit Reviews', class: "btn btn-primary"%>
            </div>

          <% end %>
        </div>
    </div>
</section>
