<h1>Review Details</h1>

<p><strong>Product Rating:</strong> <%= @review.product_rating %></p>
<p><strong>Booking Rating:</strong> <%= @review.booking_rating %></p>
<p><strong>Product Content:</strong> <%= @review.product_content %></p>
<p><strong>Booking Content:</strong> <%= @review.booking_content %></p>
<p><strong>Reviewed by:</strong> <%= @review.user.full_name %></p>
